#pie_chart {
  width: 400px;
  height: 200px;
}

figure {
  padding: 0 0;
  margin: 0 auto;
}

#network img {
    width: 50px;
    height: 50px;
    border: 1px solid #dddedd;
}

li.new {
  border: 1px solid #dddedd;
}

#network li.new {
  width: 50px; height: 50px;
}

ul {
  list-style: none;
  padding: 0;
}

#network li {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  line-height: 50px;
  font-size: 2em;
  color: #949494;
}

#stats figure {
  width: 200px;
  display: inline-block;
  margin: 0;
  font-size: .8em;
}

#stats figcaption {
  font-weight: bold;
  margin-bottom: 10px;
}

.big_text {
  font-size: 4em;
  padding-left: 20px;
}