@import url(http://fonts.googleapis.com/css?family=Gafata|Open+Sans:400,300,800,600|Open+Sans+Condensed:300,700);

html {
  color: #303030;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
  width: 100%;
}

body {
  width: 100%; height: 100%;
  padding: 0;
  margin: auto;
  background-color: #ffffff;
}

.container {
  max-width: 1280px;
  margin: auto;
}

.boxed_container {
  
  padding: 10px;
}

h1 {
  font-size: 3em;
  margin: 0;
  padding: 0;
  font-weight: 800;
  font-family: 'Open Sans Condensed';
}

h1 ~ p {
  margin: 0;
  padding: 0;
}

h2 {
  font-weight: 300;
  font-style: normal;
  margin: 20px 0 0;
  font-size: 1.6em;
  color: #7e7e7e;
}

h2, h3, h4, h5, h6 {
  
}

a {
  color: inherit;
  text-decoration: none;
}

.logo_group {
  height: 90px;
}

header {
  width: 100%;
  height: 80px;
  color: #f4f4f4;
  padding: 0px 40px;
  border-bottom: 4px solid #4194da;
  
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  background-color: #1e1e1e;
  position: relative;
  z-index: 100;
}

.profile_pic {
  position: absolute;
  top: 20px;
  left: 20px;
}

.profile_pic img {
  width: 60px;
  float: left;
  background-color: #cbcbcb;
  border: 1px solid #000000;
  -moz-box-shadow: 1px 1px 0 rgba(255, 255, 255, 0.25);
  -webkit-box-shadow: 1px 1px 0 rgba(255, 255, 255, 0.25);
  box-shadow: 1px 1px 0 rgba(255, 255, 255, 0.25);
}

.profile_pic:after {
  content: '\a';
  display: block;
  clear: both;
}

.profile_pic figcaption {
  display: block;
  margin: 0 80px;
  line-height: .9em;
  font-size: 2.0em;
}

header ul {
  position: absolute;
  right: 100px;
}

header li {
  display: inline-block;
  padding: 0 20px;
}

.header_logo {
  display: block;
  width: 80px; height: 90px;
  background: url(images/Liio_logo.png) no-repeat left top;
  background-size: 100%;
  position: absolute;
  top: 10px;
  right: 20px;
  z-index: 10px;
}

#priorities ul li {
  -webkit-transition: opacity 500ms ease-in-out 0s;
  opacity: .6;
  border: none;
}

#priorities:hover ul li {
  opacity: .8;
}

#priorities ul li:hover {
  -webkit-transition: opacity 200ms ease-in-out 0s;
  opacity: 1;
}

.goal_list img {
  width: 16px; height: 16px;
  padding: 4px 0;
  position: absolute;
  left: 5px;
  top: 7px;
  opacity: .4;
  -webkit-transition: opacity 500ms ease-in-out 0s;
}

.goal_list img:first-of-type {
  margin-left: 0;
}

#goals:hover .goal_list img {
  opacity: .6;
  -webkit-transition: opacity 200ms ease-in-out 0s;
  
}

#goals .goal_list a:hover {
  background-color: #fafafa;
}

#goals .goal_list li:hover img {
  opacity: 1;
}

#sidebar {
  width: 240px; height: 100%;
  position: fixed;
  top: 0;
  padding: 120px 0;
  text-shadow: none;
  background-color: #ffffff;
}

#sidebar > * {
  padding: 0 20px;
}

#sidebar h2 {
  color: #838383;
  margin: 20px 0 10px;
  font-weight: 100;
  font-size: 1.2em;
}

#sidebar nav {
  margin: 0;
  padding: 0;
}

#sidebar nav a{
  display: block;
  padding: 10px 12px;
  margin: 0;
  position: relative;
  color: #6e6e6e;
  cursor: pointer;
}

#sidebar .goal_list a {
  padding-left: 36px;
}

#sidebar nav a.current {
  padding-right: 11px;
  background-color: #ffffff;
  border-left: 4px solid #585858;
  border-t: 1px solid #dfdfdf;
  margin-left: 20px;
}

#sidebar .scroll_area {
  height: 80%;
  overflow-y: hidden;
}

#sidebar:hover .scroll_area {
  overflow-y: auto;
}

#support_links {
  position: absolute;
  display: block;
  bottom: 20px;
  background: -moz-linear-gradient(90deg, rgba(0, 0, 0, 0.04) 0%, rgba(0, 0, 0, 0.01) 100%), #ffffff;
  -moz-box-shadow: inset 0 1px 0 #ffffff, 0 -4px 12px -6px #bbc7ce;
  -webkit-box-shadow: inset 0 1px 0 #ffffff, 0 -4px 12px -6px #bbc7ce;
  box-shadow: inset 0 1px 0 #ffffff, 0 -4px 12px -6px #bbc7ce;
  padding: 0;
  color: #6e6e6e;
  cursor: pointer;
  text-transform: uppercase;
  font-size: .9em;
  text-align: center;
  margin: auto;
  width: 240px;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.04)), to(rgba(0, 0, 0, 0.01))), #ffffff;
  text-shadow: 0 1px 0 #ffffff;
  border-top: 1px solid #c6c6c6;
}

#sidebar #support_links a {
  display: inline-block;
  padding: 6px 12px;
  border-right: 1px solid #dfdfdf;
  -moz-box-shadow: 1px 0 #ffffff;
  -webkit-box-shadow: 1px 0 #ffffff;
  box-shadow: 1px 0 #ffffff;
}

#sidebar #support_links a:last-of-type {
  border-right: none;
  -moz-box-shadow: 1px 0 rgba(255, 255, 255, 0);
  -webkit-box-shadow: 1px 0 rgba(255, 255, 255, 0);
  box-shadow: 1px 0 rgba(255, 255, 255, 0);
}

#sidebar #support_links a:hover {
  border-top: 3px solid #4aadf7;
  padding: 3px 12px;
}

#sidebar #support_links a:hover {
  color: #282828;
}

#main_content {
  position: absolute;
  margin-left: 240px;
  padding: 100px 40px 60px 0;
  height: 100%;
  z-index: 10;
  position: relative;
}

#main_content.dashboard {
  padding-top: 40px;
}

dt {
  font-weight: 600;
  margin-top: 10px;
}

dt:first-of-type {
  margin-top: 0;
}

dd {
  font-weight: 200;
  font-style: normal;
  margin: 0;
}

#pie_chart {
  width: 400px;
  height: 200px;
}

figure {
  padding: 0 0;
  margin: 0 auto;
}

#help img {
  width: 100%;
}

#help li.new {
  width: 50px; height: 50px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#help li {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  line-height: 50px;
  font-size: 2em;
  color: #949494;
  border: 1px solid #dddedd;
  width: 50px;
  height: 50px;
  overflow: hidden;
  background: url(images/about-icon.svg) no-repeat center center;
  background-size: 90%;
}

#help figcaption {
  line-height: 1em;
  color: #b6b6b6;
}

#stats {
  clear: both;
  padding: 40px 0;
}

#stats figure {
  width: 32%;
  margin: 0;
  display: inline-block;
  font-size: .8em;
  color: #2c2c2c;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
}

#data figcaption {
  font-weight: bold;
  margin-bottom: 10px;
  color: #11578e;
}

.big_text {
  font-size: 6em;
  padding-left: 20px;
}

#wk_reports {
  float: right;
  padding: 10px;
  border: 1px solid #545454;
}

.graph {
  height: 200px; width: 100%;
  margin: 40px 0;
}

textarea {
  display: block;
  width: 100%;
  font-family: inherit;
  color: #1a1a1a;
}

nav#goal_steps {
  margin-bottom: 40px;
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
}

#start_questions h2 {
  margin-top: 40px;
}

/*
img.ski {
  border-color: rgba(17, 143, 243, 0.68);
}

img.horse {
  border-color: #ffae11;
}

img.sunscreen {
  border-color: #30ce15;
}*/

#stats h2 {
  color: #939393;
  text-shadow: none;
}

section {
  margin-bottom: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

section h2 {
  color: #515151;
  text-shadow: none;
  margin: 0 0 20px;
}

section.color h2 {
  color: #f7f7f7;
  padding: 4px 10px;
  margin: 0;
}

section.blue h2, .switch .switch-button {

  -webkit-border-radius: 6px 6px 0 0;
  -moz-border-radius: 6px 6px 0 0;
  border-radius: 6px 6px 0 0;
  background: -moz-linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.17) 100%) #62a8e1;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0.17))) #62a8e1;
  -moz-box-shadow: inset 0 -6px 20px rgba(13, 64, 115, 0.21), inset 0 1px 0 rgba(255, 255, 255, 0.41);
  box-shadow: inset 0 -6px 20px rgba(13, 64, 115, 0.21), inset 0 1px 0 rgba(255, 255, 255, 0.41);
  -webkit-box-shadow: inset 0 -6px 20px rgba(13, 64, 115, 0.21), inset 0 1px 0 rgba(255, 255, 255, 0.41);
  border: 1px solid #588eba;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.48);
  border-bottom: 1px solid #2170b3;
}

section.blue > *:not(h2) {
  border: 1px solid #a0a0a0;
  border-top: none;
  border-bottom: 3px solid #67b0ea;
  webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
}

#main_content section.color > *:not(h2) {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  background: -moz-linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.75) 69.5%) fixed, url(images/subtle_dots.png) white;
  -moz-box-shadow: 0 1px 0 rgb(37, 99, 158), 0 1px 4px rgba(0, 0, 0, 0.17);
  -webkit-box-shadow: 0 1px 0 rgb(37, 99, 158), 0 1px 4px rgba(0, 0, 0, 0.17);
  box-shadow: 0 1px 0 rgb(37, 99, 158), 0 1px 4px rgba(0, 0, 0, 0.17);
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0)), color-stop(0.695, rgba(255, 255, 255, 0.75))) fixed, url(images/subtle_dots.png) white;
  text-shadow: 0 0 4px #ffffff;
}

section.color.grey h2 {
  color: #676767;
  padding: 8px 0;
}

#main_content section.color.grey > *:not(h2) {
  background-color: transparent;
  background-image: none;
  padding: 0;
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0);
}

.right {
  float: right;
}

.padded {
  padding: 40px 0 80px;
}

#notifications button.txt {
  float: right;
}

#inspire {
  padding: 10px;
}

#notifications li {
  padding: 5px 10px;
  margin: 0px 0;
  position: relative;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
}

#notifications li:hover {
  background-color: #f0f0f0;
  border: 1px solid #e3e3e3;
  padding: 4px 9px;
}

#notifications li:first-of-type {
  margin-top: 5px;
}

#notifications li.alert {
  color: #b82323;
  font-weight: 400;
}

#notifications li.dismissed {
  font-weight: 200;
}

#notifications blockquote {
  color: #8e8e8e;
  font-size: 1.1em;
  font-style: italic;
}

#mission section > *:not(h2){
  height: 200px;
  overflow-y: auto;
  font-size: .9em;
  overflow-y: hidden;
}

#mission section:hover > *:not(h2){
  overflow-y: auto;
}

#help {
  margin-bottom: 20px;
}

#priorities label {
  margin: 8px 0;
  display: block;
  position: relative;
  font-weight: normal;
  font-style: normal;
}

/*#priorities input[type=checkbox] ~ label::before {
  content: '\a';
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  position: absolute;
  left: 5px;
  top: 2px;
  display: block;
  color: #ffffff;
  text-align: center;
  line-height: 1.1em;
  border: 1px solid #d6d6d6;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
}

#priorities input[type=checkbox]:checked ~ label::before {
  content: '✔';
  background-color: #87d31d;
  border-color: #8fcc40;
}

#priorities input[type=checkbox] {
  position: absolute;
  left: -1000px;
}*/

ul.boxed_list {
  border: 1px solid #969696;
  height: 200px;
  overflow-y: auto;
}

#queue ul.boxed_list {
  height: auto;
}

ul.boxed_list li {
  display: block;
  height: auto;
  border-bottom: 1px solid #929292;
  padding: 12px;
  background-color: #fafafa;
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
  color: #525252;
  text-shadow: 0 1px 0 rgb(255, 255, 255);
  font-size: .8em;
  position: relative;
}

ul.boxed_list li.selected::after {
    content: '\a';
    width: 20px;
    height: 20px;
    background-color: #ffa700;
    position: absolute;
    right: 10px;
    top: 10px;
    display: block;
    color: #ffffff;
    text-align: center;
    line-height: 1.4em;
    border: 1px solid #eb9c0e;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    
    content: '✔';
  }

ul.boxed_list li.selected:hover {
  background-color: ;
}

ul.boxed_list li:not(.expanded).clickable:hover, ul.boxed_list li.expanded {
  background-color: #ffffff;
  cursor: pointer;
}

ul.boxed_list li:not(.expanded):active {
  background-color: #f5f5f5;
}

ul.boxed_list li:first-of-type {
  border-top: none;
}

ul.boxed_list li:nth-of-type(4) ~ li:last-of-type {  /* hides list elements past the 200px mark */
  border-bottom: none;
}

ul.boxed_list span.label {
  display: inline-block;
  margin-left: 20px;
  vertical-align: top;
  padding-top: 1px;
  color: #a9a9a9;
  text-shadow: 0 1px 0 #ffffff;
  line-height: 1.5em;
  font-size: .8em;
}

#social_buttons button {
  display: inline-block;
  margin-right: 20px;
  width: 100px;
  height: 60px;
  background-color: #f8f8f8;
  vertical-align: top;
  border: 1px solid #c9c9c9;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  text-align: center;
  -moz-box-shadow: 0 1px 0 #ffffff, inset 0 1px 0 #ffffff, inset 0 1px 28px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 0 #ffffff, inset 0 1px 0 #ffffff, inset 0 1px 28px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 0 #ffffff, inset 0 1px 0 #ffffff, inset 0 1px 28px rgba(0, 0, 0, 0.1);
  color: transparent;
}

#social {
  margin-bottom: 40px;
  float: right;
}

#social h2 {
  padding-right: 40px;
}

button.tw {
  background: url(images/twitter_bird.png) no-repeat center center;
  border-color: #38acbd;
}

button.fb {
  background: url(images/facebook.png) no-repeat center center;
}

button.em {
  background: url(images/email.png) no-repeat center center;
}

#social_buttons button:hover {
  color: #222222;
  background: none #ffffff;
}

li.message form {
  display: none;
}

li.message {
  border-bottom: 1px solid #d0d0d0;
  -moz-box-shadow: inset 0 1px 0 #ffffff;
  -webkit-box-shadow: inset 0 1px 0 #ffffff;
  box-shadow: inset 0 1px 0 #ffffff;
  padding: 20px 0;
}

li.message:first-of-type {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

li.message .text {
  margin-left: 60px;
  padding: 10px;
  color: #717171;
}

.date {
  padding: 10px;
  width: 40px; height: 100%;
  float: left;
  text-align: right;
  color: #545454;
}

.day {
  font-size: 2em;
  line-height: 30px;
  color: #339dfe;
}

.mon {
  font-size: .9em;
  font-weight: bold;
}

.message h3 {
  margin-top: 0;
  color: #333333;
}

li.message ul.messages {
  margin-left: 70px;
  color: #a5a5a5;
}

li.message li.message {
  font-size: .9em;
}

li.message:last-of-type {
  border: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

ul.reflections {
  margin-left: 100px;
}

/* @group Inspiration Grid */

#stats {
  display: none;
}

#progress_graph {
  height: 200px;;
}

#insp_prog {
  margin-top: 0px;
}

ul.inspiration {
   list-style: none;
   padding: 14px 0;
   line-height: 0;
   margin: 0;
   clear: both;

   -webkit-column-count: 4;
   -webkit-column-gap:   30px;
   -moz-column-count:    4;
   -moz-column-gap:      20px;
   column-count:         4;
   column-gap:           20px;

}

ul.inspiration figure h3, ul figure p  {
  padding: 10px;
}

ul.inspiration li {
  border: 1px solid #909090;
  overflow: hidden;
  margin-top: 26px;
}

ul.inspiration li.new_insp, ul.inspiration li.new_insp + li {
  margin-top: 4px;
}

ul.inspiration figure {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
  padding: 0;
  margin: 0;
  position: relative;
  left: 0;
  z-index: 10;
  -moz-box-shadow: inset -4px 0 0 #ffffff;
  -webkit-box-shadow: inset -4px 0 0 #ffffff;
  box-shadow: inset -4px 0 0 #ffffff;
  overflow: hidden;
  text-align: center;
  background: url(noise.png) #dcdcdc;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

ul.inspiration figure.double {
 width: 100%;
}

ul.inspiration figure img {
  z-index: 10;
  height: auto;
  width: 110%;
  -moz-box-shadow: 0 1px 4px black;
  -webkit-box-shadow: 0 1px 4px black;
  box-shadow: 0 1px 4px black;
}

ul.inspiration figure form {
  z-index: 10;
  height: auto;
  width: 100%;
  text-align: left;
  padding: 10px;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.53);
  border-bottom: 1px solid rgba(255, 255, 255, 0.59);
  -moz-box-shadow: 0 0 8px black;
  -webkit-box-shadow: 0 0 8px black;
  box-shadow: 0 0 8px black;
  
  display: none;
}

ul.inspiration figure input {
  padding: 4px;
  font-size: .8em;
  margin: 0;
}

ul.inspiration figure figcaption {

  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
  
  position: absolute;
  width: 100%;
  margin: 0;
  padding: 4px;
  bottom: 0;
  left: 0;
  font-size: .8em;
  line-height: 1.1em;
  z-index: 20;
  border-top: 1px solid rgba(255, 255, 255, 0.59);
  -moz-box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.28);
  -webkit-box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.28);
  box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.28);
  color: #252525;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.49);
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.82);
  
  opacity: 0;
}

ul.inspiration figure:hover figcaption {
  opacity: 1;
}

@media (max-width: 1400px) {
  ul.inspiration {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}
@media (max-width: 1000px) {
  ul.inspiration {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}

button.new {  
  float: right;
}

li.new_insp {
  padding: 10px;
  background-color: #f1f1f1;
  
  display: none;
}

ul.inspiration figure .edit {
  right: 0;
  position: absolute;
  padding: 6px 8px;
  margin: 4px;
  z-index: 100;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgb(242, 242, 242)), to(rgb(247, 247, 247)));
  background-image: -moz-linear-gradient(90deg, rgb(242, 242, 242) 0%, rgb(247, 247, 247) 100%);
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0;
  -webkit-transition: all 500ms ease-out;
  -moz-transition: all 500ms ease-out;
  -ms-transition: all 500ms ease-out;
  -o-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
}

ul.inspiration figure:hover .edit {
  opacity: 1;
}

.edit:hover {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgb(247, 247, 247)), to(rgb(255, 255, 255)));
  background-image: -moz-linear-gradient(90deg, rgb(247, 247, 247) 0%, rgb(255, 255, 255) 100%);
}

ul.inspiration figure .edit:after  {
  content: '\A';
  height: 12px;
  width: 12px;
  position: relative;
  right: -2px;
  top: 2px;
  display: inline-block;
  background-image: url(images/ic_edit.png);
  background-size: 100%;
  -moz-background-size: 100%;
}

/* @end */

/* @group Switch */

/* Switch */
.switch {
  position: relative;
	width: 50%;
  height: 50px;
    
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  
  border-bottom: 4px solid #3f93d9;
}

.switch input {
	position: absolute;
	opacity: 0;
}

.switch label {
	position: relative;
	z-index: 2;
	
	float: left;
	width: 50%;
	margin: 10px 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
		
	padding: 10px 0 20px 10px;
	text-align: left;
	
	color: #989898;
	border: none;
	
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	cursor: pointer;
  font-size: 1.6em;
  line-height: .5em;
  font-weight: 200;
}

.switch input:checked + label {
	color: #ffffff;
  cursor: default;
}

.switch .switch-button {
	position: absolute;
	left: 0;
	top: 5px;
	z-index: 1;
  width: 50%;
	
	-webkit-transition: all 600ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
	-moz-transition:    all 600ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
	-ms-transition:     all 600ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
	-o-transition:      all 600ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
	transition:         all 600ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
	
  background-color: #61a7e0;
  height: 45px;
}

.switch input:last-of-type:checked ~ .switch-button {
	left: 50%;
}

/* @end */

/* @group Scaffolding */

[class*='col-'] {
  float: left;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.col-1-3 {
  width: 33.33%;
}

.col-2-3 {
  width: 66.66%;
}

.col-1-2 {
  width: 50%;
}

.col-1 {
  width: 100%;
}

.row:after {
  content: '\a';
  display: table;
  clear: both;
}

[class*='col-'] {
  padding-right: 40px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

[class*='col-']:last-of-type {
  padding-right: 0;
}

li[class*='col-']:nth-of-type(even) {
  padding-right: 0px;
  padding-left: 20px;
}

li[class*='col-']:nth-of-type(odd) {
  margin-right: 0px;
  padding-right: 10px;
}

/* @end */

li.completed span{
  color: #b7b7b7;
  text-decoration: line-through;
}

li .sub_content {
  display: none;

  padding-left: 15px;
  border-left: 2px solid #737373;
  margin: 20px;
}

/* @group Button Styles */

.list_buttons {
  float: right;
  display: inline;
}

.list_buttons button {
  padding: 0;
}

button.txt {
  border: none;
  background-color: transparent;
  color: #b7b7b7;
  padding: 0 4px;
  line-height: inherit;
  vertical-align: middle;
  display: inline-block;
}

button.txt:hover {
  color: #8b8b8b;
}

form button {
  margin: 10px 0;
}

button.smooth {
  border: 1px solid #dcdcdc;
  background: -moz-linear-gradient(90deg, #f1f1f1 0%, #ffffff 100%) #f5f5f5;
  background: -webkit-gradient(linear, left bottom, left top, from(#f1f1f1), to(#ffffff)) #f5f5f5;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 6px 18px;
  margin: 10px 0 0;
  color: #686868;
  text-shadow: 0 1px 0 #ffffff;
}

button.smooth:hover {
  border-color: #818181;
  color: #434343;
}

button.smooth:active {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#e9e9e9), to(#d6d6d6));
  background-image: -moz-linear-gradient(90deg, #e9e9e9 0%, #d6d6d6 100%);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.28), 0 1px 0 #ffffff;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.28), 0 1px 0 #ffffff;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.28), 0 1px 0 #ffffff;
}


h3 button {
  margin-left: 20px;
  padding: 0 8px;
  font-size: .8em;
}

/* @end */