@import url(http://fonts.googleapis.com/css?family=Gafata|Open+Sans:400,300,800,600|Open+Sans+Condensed:300,400,700);

html {
  color: #303030;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
  width: 100%;
}

body {
  width: 100%; height: 100%;
  padding: 0;
  margin: auto;
  background-color: #ffffff;
}

.container {
  max-width: 1280px;
  margin: auto;
}

.boxed_container {
  
  padding: 10px;
}

h1 {
  font-size: 2.6em;
  margin: 0;
  padding: 10px 0 5px;
  font-weight: 800;
  font-family: 'Open Sans Condensed';
}

h1 ~ p {
  margin: 0;
  padding: 0 0 10px;
}

h2 {
  font-weight: 300;
  font-style: normal;
  margin: 20px 0 0;
  font-size: 1.6em;
  color: #7e7e7e;
}

h2, h3, h4, h5, h6 {
  
}

form > :first-child, fieldset > :first-child, section > :first-child {
  margin-top: 0 !important;
  padding-top: 0 !important;
}

a {
  color: inherit;
  text-decoration: none;
}

.logo_group {
  height: 90px;
}

header {
  width: 100%;
  height: 80px;
  color: #f4f4f4;
  padding: 0px 40px;
  border-bottom: 4px solid #4194da;
  
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  background-color: #1e1e1e;
  position: relative;
  z-index: 100;
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.43);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.43);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.43);
}

header:hover .settings {
  color: #fefffe;
}

header .settings {
  font-size: .5em;
  vertical-align: top;
  margin-left: 10px;
  color: rgb(29, 30, 29);
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
  background-size: 20px;
  padding-left: 30px;
  background: url(images/gear.svg) no-repeat left center;
}

header .profile_pic {
  position: absolute;
  top: 20px;
  left: 20px;
}

.profile_pic img {
  width: 60px;
  float: left;
  background-color: #cbcbcb;
  border: 1px solid #000000;
  -moz-box-shadow: 1px 1px 0 rgba(255, 255, 255, 0.25);
  -webkit-box-shadow: 1px 1px 0 rgba(255, 255, 255, 0.25);
  box-shadow: 1px 1px 0 rgba(255, 255, 255, 0.25);
}
.profile_pic p {
  font-size: .5em;
  line-height: 1em;
  font-weight: 300;
  padding: 0;
}

.profile_pic:after {
  content: '\a';
  display: block;
  clear: both;
}

.profile_pic figcaption {
  display: block;
  margin: 0 80px;
  line-height: .9em;
  font-size: 2.0em;
}

header ul {
  position: absolute;
  right: 100px;
  top: 25px;
}

header li {
  display: inline-block;
  padding: 0 20px;
}

.header_logo {
  display: block;
  width: 80px; height: 90px;
  background: url(images/Liio_logo.png) no-repeat left top;
  background-size: 100%;
  position: absolute;
  top: 10px;
  right: 20px;
  z-index: 10px;
}

#priorities ul li {
  color: #828382;
  font-weight: 300;
  padding: 4px;
}

.about_goal {

}

.about_goal figure * {
  display: inline-block;
  vertical-align: middle;
}

.about_goal img {
  
}

.abot_goal p {
  margin: 0;
  padding: 0;
}

.about_goal figcaption {
  font-size: 2em;
  font-family: 'Open Sans Condensed', 'Open Sans', sans-serif;
  font-weight: 600;
}

.goal_list img {
  width: 16px; height: 16px;
  padding: 4px 0;
  position: absolute;
  left: 5px;
  top: 7px;
  opacity: .4;
}

#goals .goal_list a:hover {
  background-color: #fafafa;
}

#sidebar nav.goal_list a {
  margin-left: 15px;
}

#sidebar .goal_list a.current {

}

#sidebar {
  width: 240px; height: 100%;
  position: absolute;
  top: 0;
  padding: 120px 0;
  text-shadow: none;
  background-color: #f7f7f7;
}

#sidebar > * {
  padding: 0 20px;
}

#sidebar h2 {
  color: #838383;
  margin: 20px 0 10px;
  font-weight: 600;
  font-size: 1.2em;
  text-transform: uppercase;
  font-family: 'Open Sans Condensed', 'Open Sans', sans-serif;
}

#sidebar nav {
  margin: 0;
  padding: 0;
}

#sidebar nav a {
  display: block;
  padding: 10px 12px;
  margin: 0;
  position: relative;
  color: #6e6e6e;
  cursor: pointer;
  font-weight: 200;
  padding-left: 36px;
}

#sidebar nav a.current {
  padding-right: 11px;
  padding-left: 30px;
  font-weight: 400;
  background-color: #ffffff;
  border-left: 4px solid #5394cc;
  margin-left: 0;
  -moz-box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.06), 0 1px 0 rgba(0, 0, 0, 0.06);
  -webkit-box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.06), 0 1px 0 rgba(0, 0, 0, 0.06);
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.06), 0 1px 0 rgba(0, 0, 0, 0.06);
  color: #2d2d2d;
}

#sidebar nav.goal_list a.current {
  padding-left: 47px;
}

.goal_list .current img {
  left: 16px;
}

#support_links {
  position: absolute;
  display: block;
  bottom: 20px;
  background: -moz-linear-gradient(90deg, rgba(0, 0, 0, 0.04) 0%, rgba(0, 0, 0, 0.01) 100%), #ffffff;
  -moz-box-shadow: inset 0 1px 0 #ffffff, 0 -4px 12px -6px #bbc7ce;
  -webkit-box-shadow: inset 0 1px 0 #ffffff, 0 -4px 12px -6px #bbc7ce;
  box-shadow: inset 0 1px 0 #ffffff, 0 -4px 12px -6px #bbc7ce;
  padding: 0;
  color: #6e6e6e;
  cursor: pointer;
  text-transform: uppercase;
  font-size: .9em;
  text-align: center;
  margin: auto;
  width: 240px;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.04)), to(rgba(0, 0, 0, 0.01))), #ffffff;
  text-shadow: 0 1px 0 #ffffff;
  border-top: 1px solid #c6c6c6;
}

#sidebar #support_links a {
  display: inline-block;
  padding: 6px 12px;
  border-right: 1px solid #dfdfdf;
  -moz-box-shadow: 1px 0 #ffffff;
  -webkit-box-shadow: 1px 0 #ffffff;
  box-shadow: 1px 0 #ffffff;
}

#sidebar #support_links a:last-of-type {
  border-right: none;
  -moz-box-shadow: 1px 0 rgba(255, 255, 255, 0);
  -webkit-box-shadow: 1px 0 rgba(255, 255, 255, 0);
  box-shadow: 1px 0 rgba(255, 255, 255, 0);
}

#sidebar #support_links a:hover {
  border-top: 3px solid #4aadf7;
  padding: 3px 12px;
}

#sidebar #support_links a:hover {
  color: #282828;
}

#main_content {
  position: absolute;
  margin-left: 240px;
  padding: 10px 40px 60px;
  height: 100%;
  z-index: 10;
  position: relative;
  border-left: 1px solid #e9e9e9;
}

body.goal #main_content {
  padding-top: 20px;
}

#main_content.dashboard {
  padding-top: 40px;
}

dt {
  font-weight: 600;
  margin-top: 10px;
}

dt:first-of-type {
  margin-top: 0;
}

dd {
  font-weight: 200;
  font-style: normal;
  margin: 0;
}

#pie_chart {
  width: 400px;
  height: 200px;
}

figure {
  padding: 0 0;
  margin: 0 auto;
}

.users .profile_pic {
  width: 100%;
}

.users li.new {
  width: 50px; height: 50px;
}

#main_content .color.grey > ul.users {
  list-style: none;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.users li {
  display: inline-block;
  vertical-align: bottom;
  text-align: center;
  margin: 2px 0;
  line-height: 50px;
  font-size: 2em;
  color: #949494;
  border: 1px solid #6e6e6e;
  width: 50px;
  height: 50px;
  overflow: hidden;
  background: url(images/about-icon.svg) no-repeat center center rgba(255, 255, 255, 0.45);
  background-size: 90%;
  cursor: pointer;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.56);
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.56);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.56);
}

.users li:hover {
  background-color: rgba(255, 255, 255, 0.58);
}

.users figcaption {
  line-height: 1em;
  color: #b6b6b6;
}

#stats {
  clear: both;
  padding: 40px 0;
}

#stats figure, .stats figure {
  width: 32%;
  margin: 0;
  display: inline-block;
  font-size: .8em;
  color: #2c2c2c;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
}

#data figcaption {
  font-weight: bold;
  margin-bottom: 10px;
  color: #11578e;
}

.big_text {
  font-size: 6em;
  padding-left: 20px;
}

#wk_reports {
  float: right;
  padding: 10px;
  border: 1px solid #545454;
}

.graph {
  height: 200px; width: 100%;
  margin: 40px 0;
}

textarea {
  display: block;
  width: 100%;
  font-family: inherit;
  color: #1a1a1a;
}

nav#goal_steps {

  margin: 0;
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
}

section {
  margin-bottom: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

h2 {
  color: #515151;
  text-shadow: none;
  margin: 0 0 20px;
}

.blue h2 {
  color: #f7f7f7;
  padding: 6px 10px;
  margin: 0;
  font-size: 1.4em;
  
  -webkit-border-radius: 6px 6px 0 0;
  -moz-border-radius: 6px 6px 0 0;
  border-radius: 6px 6px 0 0;
  background: -moz-linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.17) 100%) #62a8e1;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0.17))) #62a8e1;
  -moz-box-shadow: inset 0 -6px 20px rgba(13, 64, 115, 0.21), inset 0 1px 0 rgba(255, 255, 255, 0.41);
  box-shadow: inset 0 -6px 20px rgba(13, 64, 115, 0.21), inset 0 1px 0 rgba(255, 255, 255, 0.41);
  -webkit-box-shadow: inset 0 -6px 20px rgba(13, 64, 115, 0.21), inset 0 1px 0 rgba(255, 255, 255, 0.41);
  border: 1px solid #588eba;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.48);
  border-bottom: 1px solid #2170b3;
}

.blue > *:not(h2) {
  border: 1px solid #a0a0a0;
  border-top: none;
  border-bottom: 3px solid #67b0ea;
  webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
}

.row.grey {
  padding: 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background: -moz-linear-gradient(90deg, rgba(0, 0, 0, 0.17) 0%, rgba(255, 255, 255, 0.26) 100%), url(noise.png) #e6e6e6;
  border: 1px solid #8a8a8a;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.31), inset 0 1px 1px rgba(255, 255, 255, 0.63);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.31), inset 0 1px 1px rgba(255, 255, 255, 0.63);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.31), inset 0 1px 1px rgba(255, 255, 255, 0.63);
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.17)), to(rgba(255, 255, 255, 0.26))), url(noise.png) #e6e6e6;
}
/*
.inner_white {
  -moz-box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.53), inset 0 1px 4px rgba(0, 0, 0, 0.47);
  -webkit-box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.53), inset 0 1px 4px rgba(0, 0, 0, 0.47);
  padding: 5px 10px;
  box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.53), inset 0 1px 4px rgba(0, 0, 0, 0.47);
  background: url(noise.png) rgba(255, 255, 255, 0.97);
}*/

.row.grey h2 {
  color: #525050;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.67);
  margin: 0 0 5px;
  font-size: 1.4em;
}

#main_content .color > *:not(h2) {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  background: -moz-linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.75) 69.5%) fixed, url(images/subtle_dots.png) rgba(255, 255, 254, 0);
  -moz-box-shadow: 0 1px 0 rgb(37, 99, 158), 0 1px 4px rgba(0, 0, 0, 0.17);
  -webkit-box-shadow: 0 1px 0 rgb(37, 99, 158), 0 1px 4px rgba(0, 0, 0, 0.17);
  box-shadow: 0 1px 0 rgb(37, 99, 158), 0 1px 4px rgba(0, 0, 0, 0.17);
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0)), color-stop(0.695, rgba(255, 255, 255, 0.75))) fixed, url(images/subtle_dots.png) rgba(255, 255, 254, 0);
  text-shadow: 0 0 4px #ffffff;
}

#main_content .color.grey > *:not(h2) {
  padding: 10px;
  margin-bottom: 0;
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0);
  background: none rgba(255, 255, 255, 0);
}

.right {
  float: right;
}

.padded {
  padding: 40px 0 80px;
}

#notifications button.txt {
  float: right;
}

#inspire {
  padding: 10px;
}

#notifications li {
  padding: 5px 10px;
  margin: 0px 0;
  position: relative;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
}

#notifications li:hover {
  background-color: #f0f0f0;
  border: 1px solid #e3e3e3;
  padding: 4px 9px;
}

#notifications li:first-of-type {
  margin-top: 5px;
}

#notifications li.alert {
  color: #b82323;
  font-weight: 400;
}

#notifications li.dismissed {
  font-weight: 200;
}

#notifications blockquote {
  color: #8e8e8e;
  font-size: 1.1em;
  font-style: italic;
}

#mission section > *:not(h2){
  height: 200px;
  overflow-y: auto;
  font-size: .9em;
  overflow-y: hidden;
}

#mission section:hover > *:not(h2){
  overflow-y: auto;
}

#help {
  margin-bottom: 20px;
}

#priorities label {
  margin: 8px 0;
  display: block;
  position: relative;
  font-weight: normal;
  font-style: normal;
}

/*#priorities input[type=checkbox] ~ label::before {
  content: '\a';
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  position: absolute;
  left: 5px;
  top: 2px;
  display: block;
  color: #ffffff;
  text-align: center;
  line-height: 1.1em;
  border: 1px solid #d6d6d6;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
}

#priorities input[type=checkbox]:checked ~ label::before {
  content: '✔';
  background-color: #87d31d;
  border-color: #8fcc40;
}

#priorities input[type=checkbox] {
  position: absolute;
  left: -1000px;
}*/

ul.usr_list li a {
  padding: 10px;
  border: 1px solid #cccccc;
  border-bottom: none;
  background: -moz-linear-gradient(90deg, rgba(0, 0, 0, 0.02) 0%, rgba(0, 0, 0, 0) 100%) #f9f9f9;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.02)), to(rgba(0, 0, 0, 0))) #f9f9f9;
  cursor: pointer;
  display: block;
}

ul.usr_list li a:hover {
  background-color: #ffffff;
}

ul.usr_list li:last-of-type a {
  border-bottom: 1px solid #ccc;
}

ul.boxed_list {
  border: 1px solid #969696;
  height: 200px;
  overflow-y: auto;
}

#queue ul.boxed_list {
  height: auto;
}

ul.boxed_list li {
  display: block;
  height: auto;
  border-bottom: 1px solid #929292;
  padding: 12px;
  background-color: #fafafa;
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
  color: #525252;
  text-shadow: 0 1px 0 rgb(255, 255, 255);
  font-size: .8em;
  position: relative;
}

ul.boxed_list li.selected::after {
    content: '\a';
    width: 20px;
    height: 20px;
    background-color: #ffa700;
    position: absolute;
    right: 10px;
    top: 10px;
    display: block;
    color: #ffffff;
    text-align: center;
    line-height: 1.4em;
    border: 1px solid #eb9c0e;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    
    content: '✔';
  }

ul.boxed_list li.selected:hover {
  background-color: ;
}

ul.boxed_list li:not(.expanded).clickable:hover, ul.boxed_list li.expanded {
  background-color: #ffffff;
  cursor: pointer;
}

ul.boxed_list li:not(.expanded):active {
  background-color: #f5f5f5;
}

ul.boxed_list li:first-of-type {
  border-top: none;
}

ul.boxed_list li:nth-of-type(4) ~ li:last-of-type {  /* hides list elements past the 200px mark */
  border-bottom: none;
}

ul.boxed_list span.label {
  display: inline-block;
  margin-left: 20px;
  vertical-align: top;
  padding-top: 1px;
  color: #a9a9a9;
  text-shadow: 0 1px 0 #ffffff;
  line-height: 1.5em;
  font-size: .8em;
}

#social_buttons button {
  display: inline-block;
  margin-right: 20px;
  width: 60px;
  height: 60px;
  background-color: #f9f9f9;
  vertical-align: top;
  border: 1px solid #c9c9c9;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 60px;
  text-align: center;
  -moz-box-shadow: 0 1px 0 #ffffff, inset 0 1px 0 #ffffff;
  -webkit-box-shadow: 0 1px 0 #ffffff, inset 0 1px 0 #ffffff;
  box-shadow: 0 1px 0 #ffffff, inset 0 1px 0 #ffffff;
  color: transparent;
}

#social {
  margin-bottom: 40px;
  float: right;
}

#social h2 {
  padding-right: 40px;
}

button.tw {
  background: url(images/twitter_bird.png) no-repeat center center;
  border-color: #38acbd;
}

button.fb {
  background: url(images/facebook.png) no-repeat center center;
}

button.em {
  background: url(images/email.png) no-repeat center center;
}

#social_buttons button:hover {
  color: #222222;
  background: none #ffffff;
}

li.message form {
  display: none;
}

li.message {
  border-bottom: 1px solid #d0d0d0;
  -moz-box-shadow: inset 0 1px 0 #ffffff;
  -webkit-box-shadow: inset 0 1px 0 #ffffff;
  box-shadow: inset 0 1px 0 #ffffff;
  padding: 20px 0;
}

li.message:first-of-type {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

li.message .text {
  margin-left: 60px;
  padding: 10px;
  color: #717171;
}

.date {
  padding: 22px 10px;
  width: 40px; height: 100%;
  float: left;
  text-align: right;
  color: #545454;
}

.day {
  font-size: 2em;
  line-height: 30px;
  color: #339dfe;
}

.mon {
  font-size: .9em;
  font-weight: bold;
}

.message h3 {
  margin-top: 0;
  color: #333333;
}

li.message ul.messages {
  margin-left: 70px;
  color: #a5a5a5;
}

li.message li.message {
  font-size: .9em;
}

li.message:last-of-type {
  border: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

ul.reflections {
  margin-left: 100px;
}

#coaching {
  overflow
}

.coaching_wrapper {
  overflow-x: scroll;
}

ul.coaching_tips {
  overflow-x: hidden;
  width: 120%;
}

#main_content :first-child.tip {
  margin-top: 10px;
}

.tip {
  display: inline-block;
  height: 100%;
  width: 200px;
  padding: 8px;
  margin: 8px;
  border: 1px solid #e1e1e1;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #f0f0f0;
  vertical-align: top;
}

/* @group Inspiration Grid */

#stats {
  display: none;
}

#progress_graph {
  height: 180px;
}

#insp_prog {
  margin-top: 0px;
}

ul.inspiration {
   list-style: none;
   padding: 14px 0;
   line-height: 0;
   margin: 0;
   clear: both;

   -webkit-column-count: 4;
   -webkit-column-gap:   30px;
   -moz-column-count:    4;
   -moz-column-gap:      20px;
   column-count:         4;
   column-gap:           20px;

}

ul.inspiration figure h3, ul figure p  {
  padding: 10px;
}

ul.inspiration li {
  border: 1px solid #909090;
  overflow: hidden;
  margin-top: 26px;
}

ul.inspiration li.new_insp, ul.inspiration li.new_insp + li {
  margin-top: 4px;
}

ul.inspiration figure {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
  padding: 0;
  margin: 0;
  position: relative;
  left: 0;
  z-index: 10;
  -moz-box-shadow: inset -4px 0 0 #ffffff;
  -webkit-box-shadow: inset -4px 0 0 #ffffff;
  box-shadow: inset -4px 0 0 #ffffff;
  overflow: hidden;
  text-align: center;
  background: url(noise.png) #dcdcdc;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

ul.inspiration figure.double {
 width: 100%;
}

ul.inspiration figure img {
  z-index: 10;
  height: auto;
  width: 110%;
  -moz-box-shadow: 0 1px 4px black;
  -webkit-box-shadow: 0 1px 4px black;
  box-shadow: 0 1px 4px black;
}

ul.inspiration figure form {
  z-index: 10;
  height: auto;
  width: 100%;
  text-align: left;
  padding: 10px;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.53);
  border-bottom: 1px solid rgba(255, 255, 255, 0.59);
  -moz-box-shadow: 0 0 8px black;
  -webkit-box-shadow: 0 0 8px black;
  box-shadow: 0 0 8px black;
  
  display: none;
}

ul.inspiration figure input {
  padding: 4px;
  font-size: .8em;
  margin: 0;
}

ul.inspiration figure figcaption {

  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
  
  position: absolute;
  width: 100%;
  margin: 0;
  padding: 4px;
  bottom: 0;
  left: 0;
  font-size: .8em;
  line-height: 1.1em;
  z-index: 20;
  border-top: 1px solid rgba(255, 255, 255, 0.59);
  -moz-box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.28);
  -webkit-box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.28);
  box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.28);
  color: #252525;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.49);
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.82);
  
  opacity: 0;
}

ul.inspiration figure:hover figcaption {
  opacity: 1;
}

@media (max-width: 1400px) {
  ul.inspiration {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}
@media (max-width: 1000px) {
  ul.inspiration {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}

button.new {  
  float: right;
}

li.new_insp {
  padding: 10px;
  background-color: #f1f1f1;
  
  display: none;
}

ul.inspiration figure .edit {
  right: 0;
  position: absolute;
  padding: 6px 8px;
  margin: 4px;
  z-index: 100;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgb(242, 242, 242)), to(rgb(247, 247, 247)));
  background-image: -moz-linear-gradient(90deg, rgb(242, 242, 242) 0%, rgb(247, 247, 247) 100%);
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0;
  -webkit-transition: all 500ms ease-out;
  -moz-transition: all 500ms ease-out;
  -ms-transition: all 500ms ease-out;
  -o-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
}

ul.inspiration figure:hover .edit {
  opacity: 1;
}

.edit:hover {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgb(247, 247, 247)), to(rgb(255, 255, 255)));
  background-image: -moz-linear-gradient(90deg, rgb(247, 247, 247) 0%, rgb(255, 255, 255) 100%);
}

ul.inspiration figure .edit:after  {
  content: '\A';
  height: 12px;
  width: 12px;
  position: relative;
  right: -2px;
  top: 2px;
  display: inline-block;
  background-image: url(images/ic_edit.png);
  background-size: 100%;
  -moz-background-size: 100%;
}

/* @end */

/* @group Switch */

/* Switch */
.switch {
  position: relative;
	width: 100%;
  height: 42px;
  margin-top: 40px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  
  border-bottom: 1px solid #cccccc;
}

.switch input {
	position: absolute;
	opacity: 0;
}

.switch label {
	position: relative;
	z-index: 2;
	
	float: left;
	width: 50%;
	margin: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	display: inline-block;
	padding: 6px 10px;
	text-align: left;
	
	color: #989898;
	border: none;
	
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	cursor: pointer;
  font-size: 1.4em;
  line-height: 1.5em;
  font-weight: 200;
}

.switch input:checked + label {
  cursor: default;
}

.switch .switch-button {
  border: 1px solid #dadada;
  border-bottom: none;
  border-top: 3px solid #4093d9;

	position: absolute;
	left: 0;
	top: 5px;
	z-index: 1;
  width: 50%;
	
	-webkit-transition: all 600ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
	-moz-transition:    all 600ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
	-ms-transition:     all 600ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
	-o-transition:      all 600ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
	transition:         all 600ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
	
  height: 36px;
  background-color: #ffffff;
}

.switch input:last-of-type:checked ~ .switch-button {
	left: 50%;
}

/* @end */

/* @group Scaffolding */

[class*='col-'] {
  float: left;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.col-1-3 {
  width: 33.33%;
}

.col-2-3 {
  width: 66.66%;
}

.col-1-2 {
  width: 50%;
}

.col-1 {
  width: 100%;
}

.row {
  margin: 20px 0;
}

#main_content :first-child {
  margin-top: 0;
}

.row::after, .inner_white::after {
  content: '\a';
  display: block;
  clear: both;
}

[class*='col-'] {
  padding-right: 40px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

[class*='col-']:last-of-type {
  padding-right: 0;
}

li[class*='col-']:nth-of-type(even) {
  padding-right: 0px;
  padding-left: 20px;
}

li[class*='col-']:nth-of-type(odd) {
  margin-right: 0px;
  padding-right: 10px;
}

/* @end */

li.completed span{
  color: #b7b7b7;
  text-decoration: line-through;
}

li .sub_content {
  display: none;

  padding-left: 15px;
  border-left: 2px solid #737373;
  margin: 20px;
}

/* @group Button Styles */

.list_buttons {
  float: right;
  display: inline;
}

.list_buttons button {
  padding: 0;
}

button.txt {
  border: none;
  background-color: transparent;
  color: #b7b7b7;
  padding: 0 4px;
  line-height: inherit;
  vertical-align: middle;
  display: inline-block;
}

button.txt:hover {
  color: #8b8b8b;
}

form button {
  margin: 10px 0;
}

button.smooth {
  border: 1px solid #dcdcdc;
  background: -moz-linear-gradient(90deg, #f1f1f1 0%, #ffffff 100%) #f5f5f5;
  background: -webkit-gradient(linear, left bottom, left top, from(#f1f1f1), to(#ffffff)) #f5f5f5;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 6px 18px;
  margin: 10px 0 0;
  color: #686868;
  text-shadow: 0 1px 0 #ffffff;
}

button.smooth:hover {
  border-color: #818181;
  color: #434343;
}

button.smooth:active {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#e9e9e9), to(#d6d6d6));
  background-image: -moz-linear-gradient(90deg, #e9e9e9 0%, #d6d6d6 100%);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.28), 0 1px 0 #ffffff;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.28), 0 1px 0 #ffffff;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.28), 0 1px 0 #ffffff;
}


h3 button {
  margin-left: 20px;
  padding: 0 8px;
  font-size: .8em;
}

/* @end */

/* @group Column Navigation UI */

.column_nav {
  width: 100%;
  min-height: 200px;
  position: relative;
  border: 1px solid #bdbdbd;
  margin: 10px 0;
}

.column_nav ul {
  position: absolute;
  width: 33.34%; height: 100%;
  -moz-box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.32);
  -webkit-box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.32);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.32);
}

.column_nav ul.focusarea_list {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.column_nav ul ul {
  left: 100%;
  top: 0;
  display: none;
  width: 100%;
}

.column_nav li {
  padding: 10px 8px;
  font-size: .9em;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  color: #000000;
  height: 40px;
  text-shadow: none;
  cursor: pointer;
}

.column_nav li:not(.focusarea):hover {
  background-color: #f4f4f4;
  border-right: 1px solid #adaead;
}

li.focusarea {
  cursor: default;
}

.column_nav li.selected:not(.focusarea) {
  cursor: default;
  color: #f2f2f2;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.45);
  background: -moz-linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 100%) #60a5df;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0.2))) #60a5df;
  border: 1px solid #4a81ae;
  border-right: none;
  -moz-box-shadow: inset -1px 1px 0 rgba(255, 255, 255, 0.35);
  -webkit-box-shadow: inset -1px 1px 0 rgba(255, 255, 255, 0.35);
  box-shadow: inset -1px 1px 0 rgba(255, 255, 255, 0.35);
}

.column_nav li.selected > ul {
  display: block;
}

/* @end */

/* @group Tab Set UI */

.tab_set {
  padding-top: 20px;
}

.tab_set li {
  display: inline-block;
  width: 25%;
  text-align: center;
  padding: 14px 0;
  border-bottom: 1px solid #dadada;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-size: .9em;
  background-image: none;
  background-color: white;
}

.tab_set li.current {
  border: 1px solid #dadada;
  border-bottom: none;
  border-top: 3px solid #4093d9;
}

.sub_tab {
  padding: 10px;
  display: none;
}

#start.sub_tab {
  display: block;
}

/* @end */

/* @group New Goal Buttons */

.nav {
  height: 48px;
  display: inline-block;
}
.nav > li, .nav:active > .active {
  float: left;
  position: relative;
  margin: 0 0 4px;
  height: 44px;
  color: #595959;
  text-shadow: 0 1px white;
  background-color: rgba(0, 0, 0, 0.05);
  border: 1px solid;
  border-color: #cfcfcf #d6d6d6 #c8c8c8;
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.25));
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.25));
  background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.25));
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.25));
  -webkit-box-shadow: inset 0 1px white, inset 0 0 0 1px rgba(255, 255, 255, 0.7), 0 2px #dadada, 0 3px #c4c4c4, 0 4px 3px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px white, inset 0 0 0 1px rgba(255, 255, 255, 0.7), 0 2px #dadada, 0 3px #c4c4c4, 0 4px 3px rgba(0, 0, 0, 0.1);
}
.nav > li:hover {
  color: #539f07;
  text-shadow: 0 1px white, 0 0 20px white;
}
.nav > li.active,
.nav > .active:active,
.nav > li:active {
  z-index: 2;
  margin: 4px 0 0;
  height: 43px;
  color: #404040;
  background: transparent;
  border-color: #ccc;
  border-width: 1px 0;
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.04), rgba(0, 0, 0, 0));
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.04), rgba(0, 0, 0, 0));
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.04), rgba(0, 0, 0, 0));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.04), rgba(0, 0, 0, 0));
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.35), inset 0 -1px 1px rgba(0, 0, 0, 0.05), 1px 0 rgba(0, 0, 0, 0.05), -1px 0 rgba(0, 0, 0, 0.05), 0 1px rgba(255, 255, 255, 0.4);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.35), inset 0 -1px 1px rgba(0, 0, 0, 0.05), 1px 0 rgba(0, 0, 0, 0.05), -1px 0 rgba(0, 0, 0, 0.05), 0 1px rgba(255, 255, 255, 0.4);
}
.nav > li:active {
  z-index: 3;
}
.nav > li:first-child {
  border-left-width: 1px !important;
  border-left-color: #c6c6c6;
  border-radius: 5px 0 0 5px;
}
.nav > li:last-child {
  border-right-width: 1px !important;
  border-right-color: #c6c6c6;
  border-radius: 0 5px 5px 0;
}
.nav > li + li, .nav:active > .active + li, .nav:active > li + .active {
  border-left-width: 0;
}
.nav > .active + li,
.nav > .active:active + li,
.nav > li:active + li,
.nav > li:active + .active {
  border-left-width: 1px;
}
.nav > li > a {
  display: block;
  position: relative;
  line-height: 44px;
  padding: 0 20px;
  font-size: 12px;
  font-weight: bold;
  color: inherit;
  text-decoration: none;
  outline: 0;
}
.nav > li > a:before {
  content: attr(title);
  position: absolute;
  top: 1px;
  left: 20px;
  color: rgba(255, 255, 255, 0.4);
  text-shadow: none;
}

/* @end */