#wk_reports {
  float: right;
  padding: 10px;
  border: 1px solid #545454;
}

.graph {
  height: 200px; width: 100%;
  margin: 40px 0;
}

textarea {
  display: block;
  width: 100%;
}

nav#goal_steps {
  margin-bottom: 40px;
}

.goal_list img {
  width: 52px; height: 52px;
  padding: 4px;
  border: 1px solid #cdcdcd;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #f6f6f6;
}

.goal_list li {
  display: inline-block;
}
/*
img.ski {
  border-color: rgba(17, 143, 243, 0.68);
}

img.horse {
  border-color: #ffae11;
}

img.sunscreen {
  border-color: #30ce15;
}*/

#notifications li {
  border: 1px solid #d2d2d2;
  padding: 4px 8px;
  margin: 4px 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background: -moz-linear-gradient(90deg, #fafafa 0%, #eaeaea 100%) #fafafa;
  background: -webkit-gradient(linear, left bottom, left top, from(#fafafa), to(#eaeaea)) #fafafa;
  -moz-box-shadow: inset 3px 0 0 #f45d5d, inset 0 2px 0 #ffffff;
  -webkit-box-shadow: inset 3px 0 0 #f45d5d, inset 0 2px 0 #ffffff;
  box-shadow: inset 3px 0 0 #f45d5d, inset 0 2px 0 #ffffff;
}

#priorities label {
  margin: 8px 0;
  display: block;
  position: relative;
  padding-left: 40px;
}

#priorities input[type=checkbox] ~ label::before {
  content: '\a';
  width: 10px;
  height: 10px;
  background-color: #ffffff;
  position: absolute;
  left: 0;
  top: 2px;
  display: block;
  color: #ffffff;
  text-shadow: 0 1px 1px #000000;
  text-align: center;
  line-height: 30px;
  border: 3px solid #5a5a5a;
  -webkit-border-radius: 1px;
  -moz-border-radius: ;
  border-radius: ;
}

#priorities input[type=checkbox]:checked ~ label::before {
  content: '✔';
  width: 10px;
  height: 10px;
  background-color: #4a4d67;
  position: absolute;
  left: 0;
  top: 2px;
  display: block;
  color: #ffffff;
  text-shadow: 4px 0 0 #464960;
  text-align: center;
  line-height: 5px;
  font-size: 1.1em;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
}

#priorities input[type=checkbox] {
  position: absolute;
  left: -1000px;
}
