#wk_reports {
  float: right;
  padding: 10px;
  border: 1px solid #545454;
}

.graph {
  height: 200px; width: 100%;
  margin: 40px 0;
}

textarea {
  display: block;
  width: 100%;
}

nav#goal_steps {
  margin-bottom: 40px;
}

.goal_list img {
  width: 52px; height: 52px;
  padding: 4px;
  border: 1px solid #cdcdcd;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #f6f6f6;
}

.goal_list li {
  display: inline-block;
}
/*
img.ski {
  border-color: rgba(17, 143, 243, 0.68);
}

img.horse {
  border-color: #ffae11;
}

img.sunscreen {
  border-color: #30ce15;
}*/

#notifications ul {
  height: 180px;
  overflow-y: scroll;
}

#notifications li {
  padding: 4px 8px;
  margin: 8px 0;
  border-left: 3px solid #c60c0c;
}

#priorities label {
  margin: 8px 0;
  display: block;
  position: relative;
  padding-left: 40px;
}

#priorities input[type=checkbox] ~ label::before {
  content: '\a';
  width: 10px;
  height: 10px;
  background-color: #ffffff;
  position: absolute;
  left: 0;
  top: 2px;
  display: block;
  color: #ffffff;
  text-shadow: 0 1px 1px #000000;
  text-align: center;
  line-height: 30px;
  border: 3px solid #5a5a5a;
  -webkit-border-radius: 1px;
  -moz-border-radius: ;
  border-radius: ;
}

#priorities input[type=checkbox]:checked ~ label::before {
  content: '✔';
  width: 10px;
  height: 10px;
  position: absolute;
  left: 0;
  top: 2px;
  display: block;
  color: #ffffff;
  text-shadow: 4px 0 0 #464960;
  text-align: center;
  line-height: 5px;
  font-size: 1.1em;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  background: -moz-linear-gradient(90deg, #494d66 0%, #2e3141 100%) #4a4d67;
  background: -webkit-gradient(linear, left bottom, left top, from(#494d66), to(#2e3141)) #4a4d67;
}

#priorities input[type=checkbox] {
  position: absolute;
  left: -1000px;
}

#focus_areas li {
  display: inline-block;
  vertical-align: top;
  width: 40%;
  margin-right: 20px;
}

#focus_areas li ul {
  border-bottom: 1px solid #969696;
  height: 200px;
  overflow-y: scroll;
  background-color: #aaaaaa;
  -moz-box-shadow: 0 1px 0 #ffffff, inset 0 1px 6px rgba(0, 0, 0, 0.46);
  -webkit-box-shadow: 0 1px 0 #ffffff, inset 0 1px 6px rgba(0, 0, 0, 0.46);
  box-shadow: 0 1px 0 #ffffff, inset 0 1px 6px rgba(0, 0, 0, 0.46);
}

#focus_areas li li {
  display: block;
  width: 100%;
  height: auto;
  border: 1px solid #0b0b0b;
  border-top: none;
  padding: 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #2e2e2e;
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
  cursor: pointer;
  color: #e8e8e8;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.47);
}

#focus_areas li li:hover {
  background-color: #3a3a3a;
}

#focus_areas li li:active {
  background-color: #191919;
  -moz-box-shadow: inset 0 1px 3px black;
  -webkit-box-shadow: inset 0 1px 3px black;
  box-shadow: inset 0 1px 3px black;
}

#focus_areas li li:first-of-type {
  border-top: 1px solid #0b0b0b;
}

#focus_areas li li:last-of-type {
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 2px 6px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 2px 6px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 2px 6px rgba(0, 0, 0, 0.5);
  border-bottom-width: 2px;
}

#focus_areas li li:last-of-type:active {
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.44), inset 0 1px 2px rgba(0, 0, 0, 0.26);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.44), inset 0 1px 2px rgba(0, 0, 0, 0.26);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.44), inset 0 1px 2px rgba(0, 0, 0, 0.26);
}

#social_buttons button {
  display: inline-block;
  margin-right: 20px;
  width: 100px;
  height: 60px;
  background-color: #f8f8f8;
  vertical-align: top;
  border: 1px solid #c9c9c9;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  text-align: center;
  -moz-box-shadow: inset 0 1px 0 #ffffff, inset 0 1px 28px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.29);
  -webkit-box-shadow: inset 0 1px 0 #ffffff, inset 0 1px 28px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.29);
  box-shadow: inset 0 1px 0 #ffffff, inset 0 1px 28px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.29);
  color: transparent;
}

#social {
  margin-bottom: 40px;
}

#social h2 {
  padding-right: 40px;
}

button.tw {
  background: url(images/twitter_bird.png) no-repeat center center;
  border-color: #38acbd;
}

button.fb {
  background: url(images/facebook.png) no-repeat center center;
}

button.em {
  background: url(images/email.png) no-repeat center center;
}

#social_buttons button:hover {
  color: #222222;
  background: none #ffffff;
}

ul.messages {
}

li.message {
  border-bottom: 1px solid #d0d0d0;
  -moz-box-shadow: inset 0 1px 0 #ffffff;
  -webkit-box-shadow: inset 0 1px 0 #ffffff;
  box-shadow: inset 0 1px 0 #ffffff;
}

li.message .text {
  margin-left: 60px;
  padding: 10px;
  background-color: #f3f3f3;
}

li.message .date {
  padding: 10px;
  width: 40px; height: 100%;
  float: left;
  text-align: right;
  color: #545454;
}

li.message .day {
  font-size: 2em;
  line-height: 30px;
}

li.message .mon {
  font-size: .9m;
}

.message h3 {
  margin-top: 0;
}