#wk_reports {
  float: right;
  padding: 10px;
  border: 1px solid #545454;
}

.graph {
  height: 200px; width: 100%;
  margin: 40px 0;
}

textarea {
  display: block;
  width: 100%;
  font-family: inherit;
  color: #1a1a1a;
}

nav#goal_steps {
  margin-bottom: 40px;
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
}

/*
img.ski {
  border-color: rgba(17, 143, 243, 0.68);
}

img.horse {
  border-color: #ffae11;
}

img.sunscreen {
  border-color: #30ce15;
}*/

#stats h2 {
  color: #939393;
  text-shadow: none;
}

section {
  margin-bottom: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

section h2 {
  color: #515151;
  text-shadow: none;
  margin: 0 0 20px;
}

section.color h2 {
  color: #f7f7f7;
  padding: 4px 10px;
  margin: 0;
}

section.color.grey h2 {
  color: #676767;
  padding: 8px 0;
}

#main_content section.color.grey > *:not(h2) {
  background-color: white;
  padding: 0;
}

section.green h2 {
  background-color: #597e27;
}

section.green > *:not(h2) {
  border-bottom: 4px solid #597e27;
}

section.blue h2, .switch .switch-button {
  background-color: #62a8e1;
  border-bottom: 3px solid #4195db;
}

section.blue > *:not(h2) {
  border-bottom: 3px solid #67b0ea;
}

#main_content section.color > *:not(h2) {
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;/*
  border-right: 1px solid #efefef;
  border-left: 1px solid #efefef;*/
  
  background-color: #fbfbfb;
}

#notifications li {
  padding: 4px 0;
  margin: 6px 0;
  position: relative;
  width: 100%;
}

#notifications li:first-of-type {
  margin-top: 0;
}

#notifications li.alert {
  color: #b82323;
  font-weight: 400;
}

#notifications li.alert .list_buttons {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}

#notifications li.dismissed {
  font-weight: 200;
}

#notifications blockquote {
  color: #8e8e8e;
  font-size: 1.1em;
  font-style: italic;
}

#mission section > *:not(h2){
  height: 200px;
  overflow-y: auto;
  font-size: .9em;
  overflow-y: hidden;
}

#mission section:hover > *:not(h2){
  overflow-y: auto;
}

#help {
  margin-bottom: 20px;
}

#priorities label {
  margin: 8px 0;
  display: block;
  position: relative;
  padding-left: 40px;
  font-weight: normal;
  font-style: normal;
}

#priorities input[type=checkbox] ~ label::before {
  content: '\a';
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  position: absolute;
  left: 5px;
  top: 2px;
  display: block;
  color: #ffffff;
  text-align: center;
  line-height: 1.1em;
  border: 1px solid #d6d6d6;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
}

#priorities input[type=checkbox]:checked ~ label::before {
  content: '✔';
  background-color: #87d31d;
  border-color: #8fcc40;
}

#priorities input[type=checkbox] {
  position: absolute;
  left: -1000px;
}

#focus_areas li ul {
  border: 1px solid #969696;
  height: 200px;
  overflow-y: hidden;
}

#focus_areas li ul:hover {
  overflow-y: auto;
}

#focus_areas li li {
  display: block;
  height: auto;
  border-bottom: 1px solid #929292;
  padding: 12px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #fafafa;
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
  cursor: pointer;
  color: #525252;
  text-shadow: 0 1px 0 rgb(255, 255, 255);
  font-size: .8em;
  position: relative;
}

#focus_areas li li.selected::after {
    content: '\a';
    width: 20px;
    height: 20px;
    background-color: #ffa700;
    position: absolute;
    right: 10px;
    top: 10px;
    display: block;
    color: #ffffff;
    text-align: center;
    line-height: 1.4em;
    border: 1px solid #eb9c0e;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    
    content: '✔';
  }

#focus_areas li li.selected:hover {
  background-color: ;
}

#focus_areas li li:hover {
  background-color: #ffffff;
}

#focus_areas li li:active {
  background-color: #f5f5f5;
}

#focus_areas li li:first-of-type {
  border-top: none;
}

#focus_areas li li:last-of-type {

}

#social_buttons button {
  display: inline-block;
  margin-right: 20px;
  width: 100px;
  height: 60px;
  background-color: #f8f8f8;
  vertical-align: top;
  border: 1px solid #c9c9c9;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  text-align: center;
  -moz-box-shadow: 0 1px 0 #ffffff, inset 0 1px 0 #ffffff, inset 0 1px 28px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 0 #ffffff, inset 0 1px 0 #ffffff, inset 0 1px 28px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 0 #ffffff, inset 0 1px 0 #ffffff, inset 0 1px 28px rgba(0, 0, 0, 0.1);
  color: transparent;
}

#social {
  margin-bottom: 40px;
  float: right;
}

#social h2 {
  padding-right: 40px;
}

button.tw {
  background: url(images/twitter_bird.png) no-repeat center center;
  border-color: #38acbd;
}

button.fb {
  background: url(images/facebook.png) no-repeat center center;
}

button.em {
  background: url(images/email.png) no-repeat center center;
}

#social_buttons button:hover {
  color: #222222;
  background: none #ffffff;
}

ul.messages {
}

li.message {
  border-bottom: 1px solid #d0d0d0;
  -moz-box-shadow: inset 0 1px 0 #ffffff;
  -webkit-box-shadow: inset 0 1px 0 #ffffff;
  box-shadow: inset 0 1px 0 #ffffff;
  padding: 20px 0;
}

li.message:first-of-type {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

li.message .text {
  margin-left: 60px;
  padding: 10px;
  color: #717171;
}

li.message .date {
  padding: 10px;
  width: 40px; height: 100%;
  float: left;
  text-align: right;
  color: #545454;
}

li.message .day {
  font-size: 3em;
  line-height: 44px;
  color: #ff9f2c;
}

li.message .mon {
  font-size: .9m;
  font-weight: bold;
}

.message h3 {
  margin-top: 0;
  color: #333333;
}